.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
height: 100%;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
    padding-bottom: 100px;
    position: relative;
}

.messages .message {
    color: white;
}

.textareaWrapper {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}